@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .highlighted {
        background-color: yellow;
        font-weight: bold;
    }
</style>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="UploadedFile" />
    <button type="submit">Upload Button</button>
</form>

<div>
    @Html.Raw( @Model.NavtexMessage)
</div>



<script src="~/site.js"></script>


